* {
  box-sizing: border-box;
  /* margin: 0; */
  /* outline: 1px solid purple; */
}
input, button, textarea, select {
  font: inherit;
}

.App {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;

  padding-top: 10px;
}


.coin-count-display {
  /* border: 2px solid black; */
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
}
.coin-count-display > .ratcoin-count {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
}


.map-container {
  margin-top: 20px;
  /* border: 2px solid black; */
  width: 100%;
  max-width: 800px;
  height: 400px;

  background-image: url("./dummy-map.jpg");
  background-position: center;
}
.map-container > img {
  width: 100%;
  height: 100%;
  display:none
}


.submit-sighting-link {
  color:black;
  text-decoration: underline;
  font-size: 80%;

}


.submit-form-popup {
  position: absolute;
  top:10%;
  width: 90%;
  max-width: 500px;
  height: 80%;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-form-popup .close-button {
  margin: 0;
  margin-left: auto;
  border: none;
  background: none;
  padding:0;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: -10px;
}

.submit-form-popup h2 {
  margin:0;
}